.bar {
    fill:#333;
}

.bar:hover {
    fill:#fbcd5d;
}

text {
    font-family: sans-serif;
    font-size: 12px;
    background-color: #fbcd5d;

}

.car-image {
    width: 40px;
    height: 40px;
}

.tooltip {
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
    display: none;
    position: absolute;
    pointer-events: none;
}

.Items {
    position: relative;
    margin-top: -30rem;
    margin-left: 43rem;
    padding: 5rem;
    animation: slideInRight 2s;
}

#chicken{
    position: relative;
    margin-top: -50rem;
    margin-left: 45rem;
    padding: 5rem;
    animation: slideInRight 2s;
}

/* Web Page Deco*/

body {
    background-color:#ffffff;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Pangchan'; 
    src: url('../Fonts/Pangchan.otf') format('truetype'); /* The path to your font file */
  }

@font-face {
    font-family: 'Satoshi'; 
    src: url('../Fonts/Satoshi-Medium.otf') format('truetype'); /* The path to your font file */
  }
  


  /*NAV BAR*/

  header{
    background-color: #333;
  }

  nav{
    background-color: #333;
  }
.nav-link {
    color: white; /* Change the text color */
    text-decoration: none;
    font-size: 18px;
    font-family: 'Pangchan';
    margin-right: 30px;
    
  }
  
  .nav-link:hover {
    color: #fbcd5d; /* Change the color on hover */
  }

  #nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
    margin-right: 20px;
  }

  #nav-logo {
    width: 150px; /* Adjust the size of the logo */
    height: auto;
    color: #fbcd5d;
    margin-right: 20px; /* Add space between the logo and the navigation items */
    margin-top: -75px;
    
}



/*FOOTER*/

footer {
    margin-top: auto;  /* Pushes footer to the bottom */
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

/*Content*/

h2{
    margin-left: 10rem;
    font-family: 'Pangchan';
    color: #333;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    animation: slideIn 2s ease forwards;
}

h2:hover{
    color:#fbcd5d;
}

#HomeTitle{
    color: #333;
    font-size: 4.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: 0rem;
    margin-bottom: 0rem;
    animation: slideIn 2s ease forwards;
}


#HomeTitle:hover{
    color: #fbcd5d
}

#CarTitle{
    color: #333;
    font-size: 4.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: 7rem;
    margin-bottom: 0rem;
    animation: slideIn 1s ease forwards;
}

#CarTitles{
    color: #333;
    font-size: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: -15rem;
    margin-bottom: 8rem;
    animation: slideIn 2s;
}  

#CarTitle:hover{
    color: #fbcd5d
}

#CarTitles:hover{
    color: #fbcd5d
}

#TitleHome{
    margin-top: 13rem;
    margin-bottom: 4rem;
}

#SecondHome{
margin-left: 45rem;
margin-top: 15rem;
margin-bottom: 10rem;
}

#SecondTitle{
    color: #333;
    font-size: 4.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: 0rem;
    margin-bottom: 0rem;
    animation: slideInRight 3.5s ease forwards;
}

#SecondTitle:hover{
    color: #fbcd5d;
}


a {
    text-decoration: none; /* Removes the underline */
}

p{
    margin-left: 15rem;
    font-family: 'Satoshi';
    color: #000000;
    margin-right: 15rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1.3rem;
    animation: slideInRight 2.3s ease forwards;

}

.Content-Image{
    position: relative;
    left: 15rem;
    width: 50rem;
    height: 27rem;
    animation: slideIn 5s ease forwards;
}

#HomeImage {
    position: absolute;
    margin-top: 10rem;
    margin-left: 50rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
    animation: slideInRight 3s ease forwards; /* Apply the animation */
}

#HomeImage3 {
    position: absolute;
    margin-top: 5rem;
    margin-left: 50rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
    animation: slideInRight 2s

}

#HomeImage4 {
    position: absolute;
    margin-top: 1rem;
    margin-left: 50rem;
    z-index: -1;
    width: 40rem;
    height: 45rem;
    animation: slideInRight 2s;
}

#Green {
    position: absolute;
    margin-top: 9rem;
    margin-left: 54rem;
    z-index: -1;
    width: 30rem;
    height: 35rem;
    animation: slideInRight 2s;
}

#Home2{
    position: absolute;
    margin-top: 35rem;
    margin-left: 10rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
    animation: slideIn 4s ease forwards; 
}

#Home3{
    position: absolute;
    margin-top: 25rem;
    margin-left: 10rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
    animation: slideIn 3s;
}

#Home4{
    position: absolute;
    margin-top: 28rem;
    margin-left: 5rem;
    z-index: -1;
    width: 40rem;
    height: 45rem;
    animation: slideIn 3s;
}

#Green4{
    position: absolute;
    margin-top: 30rem;
    margin-left: 13rem;
    z-index: -1;
    width: 30rem;
    height: 35rem;
    animation: slideIn 3s;
}

#Home5{
    position: absolute;
    margin-top: 53rem;
    margin-left: 47rem;
    z-index: -1;
    width: 40rem;
    height: 45rem;
    animation: slideInRight 5s;
}

#Green5{
    position: absolute;
    margin-top: 51rem;
    margin-left: 62rem;
    z-index: -1;
    width: 27rem;
    height: 32rem;
    animation: slideInRight 5s;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start from the left */
        opacity: 0; /* Start with low opacity */
    }
    to {
        transform: translateX(0); /* Move to its original position */
        opacity: 1; /* End with full opacity */
    }
}
 
@keyframes slideInRight {
    from {
        transform: translateX(100%); /* Start from the right */
        opacity: 0; /* Start with low opacity */
    }
    to {
        transform: translateX(0); /* Move to its original position */
        opacity: 1; /* End with full opacity */
    }
}








  
  