/* ------------------------------GENERAL TINGS---------------------------------------- */

@font-face {
    font-family: 'Satoshi'; 
    src: url('../Fonts/Satoshi-Black.otf') format('truetype'); 
  }

  @font-face {
    font-family: 'Satoshi2'; 
    src: url('../Fonts/Satoshi-Medium.otf') format('truetype'); 
  }

  @font-face {
    font-family: 'Pangchan'; 
    src: url('../Fonts/Pangchan.otf') format('truetype'); 
  }

  @font-face {
    font-family: 'Gambarino'; 
    src: url('../Fonts/Gambarino-Regular.otf') format('truetype'); 
  }

/* ------------------------------RESPONSIVE STUFF---------------------------------------- */

@media (max-width: 901px) { 

/* ------------------------------RESPONSIVE NAV STUFF---------------------------------------- */

    nav {
        flex-wrap: wrap;
    }

    .nav-link {
        padding: 5rem; 
    }

    li {
        padding-top: 1rem;
    }

/* ------------------------------RESPONSIVE SECTIONS STUFF---------------------------------------- */

.SecondarySection{
    text-align: center;
}

}

/* ------------------------------NAV STUFF---------------------------------------- */

head{
    display: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    z-index: 10;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body{
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 20px;
    background-color: transparent;
    z-index: 10;
}

.nav-link {
    color: #FAFAFA;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Pangchan';
    padding: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
}

#nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
}

.scrolled{
    background-color: #FAFAFA; 
    color: #FAFAFA;
    transition: background-color 0.3s ease;
}

.scrolled .nav-link {
    color: #181818; 
}

/* ------------------------------FOOTER STUFF---------------------------------------- */

.custom-footer {
    background-color: transparent;
    color: #181818;
}

.custom-footer .contact-info-1 {
    font-family: "Satoshi"; 
    font-weight: 500;
    margin: 20px;
}

.custom-footer .contact-info-2 {
    font-family: "Satoshi2"; 
    font-weight: 400;
    margin: 20px;
}

.custom-footer .contact-info-3 {
    font-family: "Satoshi2"; 
    font-weight: 300;
    margin: 20px;
}

/* ------------------------------PAGE STUFF---------------------------------------- */

video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}

/* ------------------------------FIRST SECTION---------------------------------------- */

.MainSection {
    position: relative;
    height: 100vh; 
    overflow: hidden; 
    text-align: center;
}

.MainGraphic video {
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
}

.MainText {
    position: absolute; 
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #FAFAFA; 
    z-index: 1;
}

.MainTitle {
    justify-content: center;
    color: #FAFAFA;
    font-weight: bold;
    font-family: "Satoshi2";
    font-size: 95px;
}

.MainTitleDesc {
    justify-content: center;
    color: #FAFAFA;
    font-family: "Pangchan";
    font-weight: bold;
    font-size: 24px;

}

.SecondaryText{
    position: absolute; 
    top: 64%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #FAFAFA; 
    z-index: 1;
}

.ExploreButton {
    position: absolute; 
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #FAFAFA; 
    z-index: 1;
}

.ExploreText {
    background-color: rgb(204, 5, 5);
    justify-content: center;
    color: #FAFAFA;
    font-family: "Pangchan";
    font-weight: bold;
    font-size: 18px;
    padding: 0.5rem;
    border-radius: 10px;
}

.ExploreText:hover {
    color: rgb(204, 5, 5);
    background-color: transparent;
    border-color: rgb(204, 5, 5);
    transition: color 0.5s ease, background-color 0.5s ease;
}

a {
    text-decoration: none;
}

/* ------------------------------SECONDARY SECTION---------------------------------------- */

.SecondarySection {

    background-color: #FAFAFA; 
    padding: 10px; 
    display: flex;                    
    align-items: center;         
    justify-content: center;   
    flex-wrap: wrap; 
                
}

.Portrait {
    margin: 20px;
    
}

.ColdQuote{
    margin-bottom: 150px;
    color: #181818;

}

.Quote{
    margin: 0;
    font-family: 'Satoshi';
    font-size: 50px;
    font-weight: bold;
    
}

.Quote1{
    margin: 0;
    font-family: 'Satoshi';
    font-size: 50px;
    font-weight: bold;
}

.Quote2{
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Satoshi';
    font-size: 50px;
    font-weight: bold;

}

.CeoName{
    margin-top: 40px;
    font-family: "Gambarino";
    font-size: 40px;
    margin-bottom: 0;
}

.TitleFlex{
    margin: 0;
    font-family: "Satoshi2";
    font-size: 25px;
    opacity: 60%;
}

/* ------------------------------SECONDARY SECTION---------------------------------------- */

.ThirdSection {
    background-color: #FAFAFA; 
    padding: 10px; 
    display: flex;                    
    align-items: center;         
    justify-content: center;   
    flex-wrap: wrap; 
    height: 100vh;
}

.ContentDisplay {
    margin: 20px;
    display: flex;
    
}

.ContentTitle {
    margin-top: 10px;
    font-family: 'Satoshi';
    font-size: 50px;
    font-weight: bold;
    color: #181818;
}

.ContentDescription {
    margin-top: 10px;
    font-family: "Satoshi2";
    font-size: 25px;
    
}

.ContentText{
    position: relative;
    left: 50px;
    margin-right: 100px;
}

.ContentImage {
    width: 388px;
    height: 571px; 
    overflow: hidden; 
}

.ContentImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.ExploreLink {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: transparent;
    color: #181818;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.5s ease, background-color 0.5s ease;
    font-family: "Pangchan";
}

.ExploreLink:hover {
    background-color: rgb(204, 5, 5);
    color: #FAFAFA;
}

