/* ------------------------------GENERAL TINGS---------------------------------------- */

@font-face {
    font-family: 'Satoshi'; 
    src: url('../Fonts/Satoshi-Black.otf') format('truetype'); 
  }

  @font-face {
    font-family: 'Satoshi2'; 
    src: url('../Fonts/Satoshi-Medium.otf') format('truetype'); 
  }

  @font-face {
    font-family: 'Pangchan'; 
    src: url('../Fonts/Pangchan.otf') format('truetype'); 
  }

/* ------------------------------NAV STUFF---------------------------------------- */

head{
    display: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: transparent;
    margin: 0;
    z-index: 10;
}

body{
    margin: 0;
}

nav {
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    background-color: transparent;
    z-index: 10;
}

.nav-link {
    color: #FAFAFA;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Pangchan';
    padding: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
}

#nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* ------------------------------PAGE STUFF---------------------------------------- */

video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}

/* ------------------------------FIRST SECTION---------------------------------------- */

.MainText{
    position: absolute; 
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    z-index: 1;
}

.MainTitle{
    justify-content: center;
    color: #FAFAFA;
    font-weight: bold;
    font-family: "Satoshi2";
    font-size: 95px;
}

.MainTitleDesc{
    justify-content: center;
    color: #FAFAFA;
    font-family: "Pangchan";
    font-weight: bold;
    font-size: 24px;
}

.SecondaryText{
    position: absolute; 
    top: 64%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    z-index: 1;
}

.ExploreButton{
    position: absolute; 
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    z-index: 1;
}

.ExploreText{
    justify-content: center;
    color: #FAFAFA;
    font-family: "Pangchan";
    font-weight: bold;
    font-size: 18px;
}

.ExploreText:hover{
    color: rgb(204, 5, 5);
    transition: color 0.5s ease, background-color 0.5s ease;
}

a{
    text-decoration: none;
}



