.bar {
    fill:#a33232;
}

.bar:hover {
    fill:#fbcd5d;
}

text {
    font-family: sans-serif;
    font-size: 12px;
    background-color: #fbcd5d;

}

.car-image {
    width: 40px;
    height: 40px;
}

.tooltip {
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
    display: none;
    position: absolute;
    pointer-events: none;
}

.Items {
    position: relative;
    margin-top: -30rem;
    margin-left: 43rem;
    padding: 5rem;
    animation: slideInRight 2s;
}

#chicken{
    position: relative;
    margin-top: -17rem;
    margin-left: 43rem;
    padding: 5rem;
    animation: slideInRight 2s;
}

/* Web Page Deco*/

body {
    background-color:#ffffff;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Pangchan'; 
    src: url('../Fonts/Pangchan.otf') format('truetype'); /* The path to your font file */
  }

@font-face {
    font-family: 'Satoshi'; 
    src: url('../Fonts/Satoshi-Medium.otf') format('truetype'); /* The path to your font file */
  }

  /*NAV BAR*/

  header{
    background-color: #333;
  }

  nav{
    background-color: #333;
  }
.nav-link {
    color: white; /* Change the text color */
    text-decoration: none;
    font-size: 18px;
    font-family: 'Pangchan';
    margin-right: 30px;
    
  }
  
  .nav-link:hover {
    color: #fbcd5d; /* Change the color on hover */
  }

  #nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
    margin-right: 20px;
  }

  #nav-logo {
    width: 150px; /* Adjust the size of the logo */
    height: auto;
    color: #fbcd5d;
    margin-right: 20px; /* Add space between the logo and the navigation items */
    margin-top: -75px;
    
}



/*FOOTER*/

footer {
    margin-top: auto;  /* Pushes footer to the bottom */
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

/*Content*/

h2{
    margin-left: 10rem;
    font-family: 'Pangchan';
    color: #333;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    animation: slideIn 2s ease forwards;
}

h2:hover{
    color:#fbcd5d;
}

#HomeTitle{
    color: #333;
    font-size: 4.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: 0rem;
    margin-bottom: 0rem;

    background: linear-gradient(to right, #000000, #fbcd5d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300%;

    animation: slideIn 2s ease forwards, colorChange 5s linear infinite alternate;
}

#CarTitle{
    color: #333;
    font-size: 4.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: 7rem;
    margin-bottom: 0rem;
    animation: slideIn 1s ease forwards;
}

#CarTitles{
    color: #333;
    font-size: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: -15rem;
    margin-bottom: 8rem;
    animation: slideIn 2s;
}  

#CarTitle:hover{
    color: #fbcd5d
}

#CarTitles:hover{
    color: #fbcd5d
}

#TitleHome{
    margin-top: 13rem;
    margin-bottom: 4rem;
}

#SecondHome{
margin-left: 45rem;
margin-top: 15rem;
margin-bottom: 10rem;
}

#SecondTitle{
    color: #333;
    font-size: 4.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: 0rem;
    margin-bottom: 0rem;
    animation: slideInRight 3.5s ease forwards;
}

#SecondTitle:hover{
    color: #fbcd5d;
}


a {
    text-decoration: none; /* Removes the underline */
}


p{
    margin-left: 15rem;
    font-family: 'Satoshi';
    color: #000000;
    margin-right: 15rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1.3rem;
    animation: slideInRight 2.3s ease forwards;

}

.Content-Image{
    position: relative;
    left: 15rem;
    width: 50rem;
    height: 27rem;
    animation: slideIn 5s ease forwards;
}

#HomeImage {
    position: absolute;
    margin-top: 10rem;
    margin-left: 50rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
    animation: slideInRight 3s ease forwards; /* Apply the animation */
}

#HomeImage3 {
    position: absolute;
    margin-top: 5rem;
    margin-left: 50rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
    animation: slideInRight 2s

}

#HomeImage4 {
    position: absolute;
    margin-top: 1rem;
    margin-left: 50rem;
    z-index: -1;
    width: 40rem;
    height: 45rem;
    animation: slideInRight 2s;
}

#Green {
    position: absolute;
    margin-top: 9rem;
    margin-left: 54rem;
    z-index: -1;
    width: 30rem;
    height: 35rem;
    animation: slideInRight 2s;
}

#Home2{
    position: absolute;
    margin-top: 35rem;
    margin-left: 10rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
    animation: slideIn 4s ease forwards; 
}

#Home3{
    position: absolute;
    margin-top: 25rem;
    margin-left: 10rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
    animation: slideIn 3s;
}

#Home4{
    position: absolute;
    margin-top: 28rem;
    margin-left: 5rem;
    z-index: -1;
    width: 40rem;
    height: 45rem;
    animation: slideIn 3s;
}

#Green4{
    position: absolute;
    margin-top: 30rem;
    margin-left: 13rem;
    z-index: -1;
    width: 30rem;
    height: 35rem;
    animation: slideIn 3s;
}

#Home5{
    position: absolute;
    margin-top: 53rem;
    margin-left: 47rem;
    z-index: -1;
    width: 40rem;
    height: 45rem;
    animation: slideInRight 5s;
}

#Green5{
    position: absolute;
    margin-top: 51rem;
    margin-left: 62rem;
    z-index: -1;
    width: 27rem;
    height: 32rem;
    animation: slideInRight 5s;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start from the left */
        opacity: 0; /* Start with low opacity */
    }
    to {
        transform: translateX(0); /* Move to its original position */
        opacity: 1; /* End with full opacity */
    }
}
 
@keyframes slideInRight {
    from {
        transform: translateX(100%); /* Start from the right */
        opacity: 0; /* Start with low opacity */
    }
    to {
        transform: translateX(0); /* Move to its original position */
        opacity: 1; /* End with full opacity */
    }
}

@keyframes colorChange {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.home-page {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-page .div {
    overflow-x: hidden;
    width: 1200px;
    height: 800px;
    position: relative;
  }
  
  .home-page .first-part {
    position: absolute;
    width: 1181px;
    height: 436px;
    top: 0;
    left: 0;
  }
  
  .home-page .overlap-group {
    position: relative;
    height: 436px;
  }
  
  .home-page .webpage {
    position: absolute;
    width: 1181px;
    height: 436px;
    top: 0;
    left: 0;
    background-color: #fafafa;
  }
  
  .home-page .background-grpahic {
    height: 436px;
    background-color: #e5962f;
  }
  
  .home-page .main-text {
    position: absolute;
    width: 163px;
    height: 107px;
    top: 201px;
    left: 517px;
  }
  
  .home-page .text-wrapper {
    position: absolute;
    width: 144px;
    top: 0;
    left: 5px;
    font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
    font-weight: 400;
    color: #fafafa;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home-page .p {
    position: absolute;
    width: 159px;
    top: 37px;
    left: 0;
    font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
    font-weight: 400;
    color: #fafafa;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .overlap {
    position: absolute;
    width: 1200px;
    height: 500px;
    top: 486px;
    left: 1px;
    background-color: #fafafa;
  }
  
  .home-page .second-part {
    position: relative;
    width: 742px;
    height: 315px;
    top: 37px;
    left: 22px;
  }
  
  .home-page .second-page-content {
    position: absolute;
    width: 699px;
    height: 292px;
    top: 23px;
    left: 43px;
  }
  
  .home-page .second-content {
    height: 292px;
  }
  
  .home-page .group {
    position: relative;
    width: 699px;
    height: 292px;
  }
  
  .home-page .div-wrapper {
    position: absolute;
    width: 333px;
    height: 186px;
    top: 0;
    left: 366px;
  }
  
  .home-page .text {
    height: 186px;
  }
  
  .home-page .group-2 {
    position: relative;
    width: 337px;
    height: 186px;
  }
  
  .home-page .text-wrapper-2 {
    position: absolute;
    width: 333px;
    top: 0;
    left: 0;
    font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .lorem-ipsum-is {
    position: absolute;
    width: 327px;
    top: 61px;
    left: 0;
    font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
    font-weight: 400;
    color: #000000a6;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .group-3 {
    position: absolute;
    width: 478px;
    height: 80px;
    top: 212px;
    left: 0;
  }
  
  .home-page .rectangle {
    left: 0;
    background-color: #e5962f;
    position: absolute;
    width: 150px;
    height: 80px;
    top: 0;
  }
  
  .home-page .rectangle-2 {
    left: 328px;
    background-color: #e5962f;
    position: absolute;
    width: 150px;
    height: 80px;
    top: 0;
  }
  
  .home-page .rectangle-3 {
    left: 164px;
    background-color: #d9d9d9;
    position: absolute;
    width: 150px;
    height: 80px;
    top: 0;
  }
  
  .home-page .page-marker {
    position: absolute;
    width: 101px;
    height: 13px;
    top: 0;
    left: 0;
  }
  
  .home-page .line {
    position: absolute;
    width: 36px;
    height: 2px;
    top: 5px;
    left: 0;
  }
  
  .home-page .text-wrapper-3 {
    position: absolute;
    width: 60px;
    top: 0;
    left: 39px;
    font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
    font-weight: 400;
    color: #e5962f;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  







  
  