.bar {
    fill: steelblue;
}

.bar:hover {
    fill: rgb(197, 216, 204);
}

text {
    font-family: sans-serif;
    font-size: 12px;
    background-color: #fbcd5d;

}

.car-image {
    width: 40px;
    height: 40px;
}

.tooltip {
    font-family: sans-serif;
    font-size: 12px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
    display: none;
    position: absolute;
    pointer-events: none;
}

.Items {
    position: relative;
    margin-left: 5rem;
    padding: 10rem;
}

#chicken{
    position: relative;
    margin-left: 5rem;
    padding: 6rem;
}

/* Web Page Deco*/

body {
    background-color:#ffffff;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Pangchan'; 
    src: url('../Fonts/Pangchan.otf') format('truetype'); /* The path to your font file */
  }

@font-face {
    font-family: 'Satoshi'; 
    src: url('../Fonts/Satoshi-Medium.otf') format('truetype'); /* The path to your font file */
  }
  


  /*NAV BAR*/

  header{
    background-color: #333;
  }

  nav{
    background-color: #333;
  }
.nav-link {
    color: white; /* Change the text color */
    text-decoration: none;
    font-size: 18px;
    font-family: 'Pangchan';
    margin-right: 30px;
    
  }
  
  .nav-link:hover {
    color: #fbcd5d; /* Change the color on hover */
  }

  #nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
    margin-right: 20px;
  }

  #nav-logo {
    width: 150px; /* Adjust the size of the logo */
    height: auto;
    color: #fbcd5d;
    margin-right: 20px; /* Add space between the logo and the navigation items */
    margin-top: -75px;
    
}



/*FOOTER*/

footer {
    margin-top: auto;  /* Pushes footer to the bottom */
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

/*Content*/

h2{
    margin-left: 10rem;
    font-family: 'Pangchan';
    color: #333;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

h2:hover{
    color:#fbcd5d
}

#HomeTitle{
    color: #333;
    font-size: 4.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#HomeTitle:hover{
    color: #fbcd5d;
}

#TitleHome{
    margin-top: 13rem;
    margin-bottom: 4rem;
}

#SecondHome{
margin-left: 45rem;
margin-top: 15rem;
margin-bottom: 10rem;
}

#SecondTitle{
    color: #333;
    font-size: 4.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#SecondTitle:hover{
    color: #fbcd5d;
}


a {
    text-decoration: none; /* Removes the underline */
}


p{
    margin-left: 15rem;
    font-family: 'Satoshi';
    color: #000000;
    margin-right: 15rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1.3rem
}

.Content-Image{
    position: relative;
    left: 10rem;
    width: 40rem;
    height: 20rem;
}

#HomeImage {
    position: absolute;
    margin-top: 10rem;
    margin-left: 50rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
}

#HomeImage3 {
    position: absolute;
    margin-top: 10rem;
    margin-left: 50rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
}

#HomeImage4 {
    position: absolute;
    margin-top: 3rem;
    margin-left: 55rem;
    z-index: -1;
    width: 30rem;
    height: 35rem;
}


#Home2{
    position: absolute;
    margin-top: 35rem;
    margin-left: 10rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
}

#Home3{
    position: absolute;
    margin-top: 25rem;
    margin-left: 10rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
}

#Home4{
    position: absolute;
    margin-top: 33rem;
    margin-left: 10rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
}

#Home5{
    position: absolute;
    margin-top: 53rem;
    margin-left: 60rem;
    z-index: -1;
    width: 35rem;
    height: 40rem;
}







  
  